/* GLOBAL STYLES */

:root {
  font-family: "Franklin Gothic Book", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  background: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #404040;
  padding: 1rem 0;
}

hr {
  border-width: 0.2rem;
  border-style: dotted none none;
  border-color: #44444444;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: "Fira Code", "Consolas", "Courier", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0;
  color: #808080;
}